body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* width: 450px; */
    height: 100%; 
    background-color: #2A2A2A;
    position: relative;

  }
  
  #countdown{
      width: 100%;
  position: absolute;
    top: 90px;
    font-family: tahoma;
    font-size: 60pt;
    color: #F5EBE2;
    font-weight:800;
  }
  
  .lock {
    width: 250px;
    height: 300px;
    scale: 2.25;
  }
  
  #svg{
    position: absolute;
    top: 250px;
  }
  
  #lockBox{
    fill: #F5EBE2;
   
  }
  
  #keyhole{
    fill: #2A2A2A;
  }
  
  #lockArm{
    fill: #F5EBE2;
  }
  
  .eye{
    fill: #2A2A2A;
    scale: 2.25;
    opacity: 0;
  }
  
  input{
    width: 350px;
    height: 35px;
    
    position: absolute;
    top: 625px;
  }
  
  button{
    background-color: #F5EBE2;
    color: #2A2A2A;
    width: 200px;
    position: absolute;
    top: 700px;
    height: 40px;
    font-size: 20pt;
  }
  
  #good{
    width: 100%;
    height: 100%;
    scale: 90%;
   
  }
  
  #bad{
    width: 100%;
    height: 100%;
  }

